@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap');

body {
	background-color: #ededca;
	font-family: 'Open Sans',Arial,sans-serif;
	margin: 0%;
}

.container {
	width: 94%;
	margin: 0 auto;
}

.cabecalho-principal {
	background-color: black;
	padding: 20px 0;
}

.cabecalho-principal-titulo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.cabecalho-principal-titulo a {
	text-decoration: none;
	color: white;
}

.conteudo {
	margin-bottom: 48px;
}

.cabecalho-menu-item {
	font-weight: 400;
	font-size: 18px;
	color: white;
}

.conteudo-principal-escrito-titulo {
	font-family: 'Righteous', cursive;
	font-weight: 400;
	font-size: 64px;
	color: black;
}

.conteudo-principal-escrito-subtitulo {
	font-family: 'Sarala', sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: black;

}

.conteudo-principal-escrito-botao {
	background-color: black;
	width: 180px;
	height: 60px;
	color: white;
	border: none;
	box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	font-family: 'Sarala', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

